<!doctype html>
<html lang="en">
  <head>
    <title>DOI Reader</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        body {
          text-align: center;
        }
        h1, h3 {
          margin: 20px 0 50px 0;
        }
      </style>
  </head>
  <body>
    <body>
      <main>
          <h1>DOI Reader</h1>
          <div class="container">
              <h3> The purpose of this website is to obtain the title, author(s) and creation date for a given DOI</h3>
              
              <form class='doi-form' action="http://localhost:5000/doi" method="POST">
                <label>Enter the DOI : <input style="width: 40%;" type="text" name="DOI"/></label>
                <input type="submit" value="Search !"/>
            </form>
          </div>
          
      </main>
      
  </body>
  </body>
</html>
